/* Website Template by freewebsitetemplates.com */
@font-face {
	font-family: 'poller_oneregular';
	src: url('../fonts/pollerone/pollerone-webfont.eot');
	src: url('../fonts/pollerone/pollerone-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/pollerone/pollerone-webfont.woff') format('woff'),
		url('../fonts/pollerone/pollerone-webfont.ttf') format('truetype'),
		url('../fonts/pollerone/pollerone-webfont.svg#poller_oneregular') format('svg');
}

@font-face {
	font-family: 'leckerli_oneregular';
	src: url('../fonts/leckerlione/leckerlione-regular-webfont.eot');
	src: url('../fonts/leckerlione/leckerlione-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/leckerlione/leckerlione-regular-webfont.woff') format('woff'),
		url('../fonts/leckerlione/leckerlione-regular-webfont.ttf') format('truetype'),
		url('../fonts/leckerlione/leckerlione-regular-webfont.svg#leckerli_oneregular') format('svg');
}

body {
	background-image: url('../images/fondorafa3.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-size: 100% 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	margin: 0;
	min-width: 960px;
	padding: 0;
}

p {
	font-size: 20px;
	color: #ffffff;
	line-height: 24px;
	margin: 0;
	padding: 0;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#header {
	margin: 0 auto;
	padding: 44px 0 50px;
	text-align: center;
	width: 960px;
}

/* #header a.logo {
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 340px;
} 
#logo{
	border: 0;
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 340px;
}
*/
#header ul {
	margin: 0;
	padding: 56px 0 0;

}

#header ul li {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0 19px;
}

#header ul li a {
	background-color: #000;
	color: #00d9ff;
	display: inline-block;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 10px 10px 10px 10px;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 12px;
}

#header ul li a:hover,
#header ul li.selected a {
	color: #ffffff;
}

#body {
	margin: 0;
	padding: 0 0 30px;
	text-align: center;
}

#body h1 {
	color: #fff;
	display: inline;
	font-family: poller_oneregular;
	font-size: 35px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

#body h1 span {
	background: #010101e6;
	display: inline-block;
	padding: 15px 28px 12px;
}

#body>div {
	margin: 0 auto;
	padding: 0;
	width: 960px;
}

#body>div img {
	border: 2px solid #292929;
	margin: 24px 0 0;
	padding: 0;
}

#body>div .article {
	margin: 0 auto;
	padding: 30px 30px 0;
	width: 560px;
}

#body>div .article h2 {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 25px;
	font-weight: normal;
	margin: 0 0 30px;
}

#body>div .article h3 {
	color: #000000;
	line-height: 24px;
	margin: 0;
	padding: 0;
}

#body>div .article h4 {
	background: #252525;
	color: #fff;
	display: inline-block;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 25px;
	font-weight: normal;
	margin: 0 0 30px;
	padding: 8px 27px 10px;
}

#body>div .article p {
	margin: 0 0 30px;
}

#body div ul {
	margin: auto;
	padding: 24px 10px 0;
	width: 500px;
}

#body div ul li {
	background-color: #000;
	border: 5px solid rgb(174, 0, 255);
	display: block;
	list-style: none;
	margin: 0 0 13px;
	overflow: hidden;
	padding: 0;
}

#body div ul li .figure {
	border: 3px solid #00c8ff;
	margin: 0;
	padding: 0;
	width: 435px;
	height: 250px;
	margin-top: 20px;
}

/* #body div ul li img {
	border: 0;
	display: block;
	margin: 0;
	padding: 0;
	opacity: 0.8;
	transition: 0.5s ease-in-out;
}
#body div ul li .figure:hover img {
	opacity: 1;
} */
#body div ul li div {
	background-color: #000;
	justify-content: center;
	align-items: center;
	margin: auto;
	padding: 0 0 30px;
	width: 500px;
}

#body div ul li div h3 {
	background-color: #010010;
	color: #00c8ff;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 25px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	padding-top: 3%;
	padding-bottom: 3%;
	text-transform: uppercase;
	text-align: center;
}

#body div ul li div h2 {
	font-family: "Arial Black", Gadget, sans-serif;
	padding: 2px 20px 2px;
	font-size: 20px;
	color: rgba(222, 208, 208, 0.863);
}

#body div ul li div h4 {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	padding: 2px 20px 2px;
	font-size: 25px;
	color: rgb(245, 240, 240);
}

/* #body div ul li div a.more {
	background: #000;
	color: #fff;
	display: inline-block;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 18px;
	font-weight: normal;
	margin: 0;
	padding: 8px 28px;
	text-decoration: none;
	text-transform: uppercase;
}
#body div ul li div a.more:hover {
	color: #252525;
	background: #fff;
	border: 2px solid #252525;
} */
#body #featured {
	margin: 0 0 13px;
	padding: 0;
	position: relative;
	width: 100%;
	border: 5px solid black;
}

#body #featured img {
	border: 0;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
}

#body #featured div {
	left: 60%;
	margin-left: -480px;
	margin-top: -171px;
	padding: 0 0 0 470px;
	position: absolute;
	top: 50%;
	text-align: left;
	width: 490px;
}

#body #featured div h2 {
	background: #b200ed9c;
	color: #000;
	display: inline-block;
	font-family: poller_oneregular;
	font-size: 30px;
	font-weight: normal;
	margin: 0 0 18px;
	padding: 23px 27px 20px;
	text-transform: uppercase;
}

#body #featured div span {
	width: 400px;
	background: #3e00529c;
	color: #ffffff;
	display: inline-block;
	font-size: 20px;
	margin: 7px 0;
	padding: 12px 27px;
}

#body #featured div a {
	background: #0ba39c;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	margin: 15px 0 0;
	padding: 26px 27px 22px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

#body #featured div a:hover {
	background: #1fc3bc;
}

#body>ul {
	margin: 0 auto;
	overflow: hidden;
	padding: 24px 0 0;
	width: 960px;
}

#body>ul li {
	display: block;
	float: left;
	margin: 0 10px 20px;
	padding: 0;
	width: 300px;
	background-color: #000;
}

#body>ul li div {
	color: #000;
	display: block;
	font-family: poller_oneregular;
	font-size: 20px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

#body>ul li div img {
	border: 2px solid #1a1a1a;
	display: block;
	margin: 0;
	padding: 0;
	opacity: .9;
	transition: 0.5s ease-in-out;
}

#body>ul li div:hover img {
	opacity: 1;
}

#body>ul li div span {
	display: block;
	margin: 0;
	padding: 33px 0 0;
	color: #00eaff;
}

#body form {
	margin: 0 auto;
	padding: 24px 0 0;
	width: 620px;
}

#body form input,
#body form textarea {
	border: 2px solid #252525;
	color: #252525;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: normal;
	margin: 0 0 37px;
	padding: 20px 10px;
	text-align: center;
	text-transform: uppercase;
	width: 596px;
}

#body form textarea {
	height: 175px;
	overflow: auto;
	resize: none;
}

#body form #send {
	background: #252525;
	color: #fff;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: inline-block;
	padding: 20px 28px;
	width: auto;
}

#body form #send:hover {
	background: #fff;
	color: #252525;
	cursor: pointer;
}

#footer {
	background: #252525;
	margin: 0;
	padding: 36px 0 42px;
}
#footer div {
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
#footer div p {
	color: #fff;
	float: left;
	margin: 0 0 0 5%;
	padding: 0;
	padding-top: 1%;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#footer div p a{
	text-decoration: none;
	color: #00d9ff;
}

#footer div ul {
	display: block;
	float: right;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 22%;
	margin-right: 8%;
}

#footer div ul li {
	display: block;
	float: left;
	list-style: none;
	margin: 0 10px;
	padding: 0;
	width: 44px;
}

/*
#footer div ul li a {
	display: block;
	height: 44px;
	margin: 0;
	padding: 0;
	text-indent: -99999px;
	width: 44px;
}
*/
.tittletxtaboutme{
	font-size: 20px;
	text-transform: uppercase;
	background-color: #00eaff;
	border: 3px solid black;
	border-radius: 10px;
}

.txtaboutme{
	color: rgb(215, 203, 203);
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-color: black;
	padding: 5% 5% 5% 5%;
	border: 3px solid white;
	border-radius: 10px;
}

#image {
	width: 100%;
	height: 100%;
}

.rafa {
	font-size: 40px;
	color: rgb(161, 159, 32);
	font-family: poller_oneregular;
}

.div_logo {
	display: inline-block;
	padding: 20px;
	border: 3px solid rgb(29, 29, 30);
	background-color: rgb(0, 238, 255);
	border-radius: 5px;
}

main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
}

.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos,
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
}

/*slider*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.carousel {
	/*   max-width: 800px;
	  margin: 0 auto;
	  display: flex; */
	margin: 0;
	padding: 0;
	width: 75%;
	border: 5px solid rgb(0, 0, 0);
	height: 600px;
	overflow: hidden;
	margin-bottom: 6%;
	margin-left: 12%;
	position: relative;
}

#imagencar {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-size: 100% 100%;
}

.flechas {
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0;
}

#retroceder {
	margin-left: 1%;
}

#avanzar {
	margin-right: 1%;
}

#icon {
	color: white;
	font-size: 30px;
}

.btn {
	padding: 0.5% 1% 0.5% 1%;
	background-color: aqua;
	cursor: pointer;
	font-size: 20px;
}



